<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       default-autowire="byName"
       default-lazy-init="false"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 自动扫描 -->
    <context:annotation-config/>
    <context:component-scan base-package="cn.cfor.controller" />
    <context:component-scan base-package="cn.cfor.model.vo" />
    <context:component-scan base-package="cn.cfor.model.vo.dao" />
    <context:component-scan base-package="cn.cfor.service"/>
    <context:component-scan base-package="cn.cfor.service.serviceimpl"/>
    <context:component-scan base-package="cn.cfor.model.mapper"/>




</beans>